<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/bootstrap-icons.css">
	<script src="/static/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <title><%= title %></title>
</head>

<body>
  <div class="container">
    <%- include("./partials/header.ejs") %>
		<div id="CartItemsRecord" class="d-flex justify-content-start">
			<% if(DressingRecord_OnHold != undefined) { %> 
				<div id="DressingRecordOnHold" style="padding-left: 10px;padding-top: 20px;padding-bottom: 10px;padding-right:30px;max-width: 30%;">
					<% var theDate = new Date(DressingRecord_OnHold.DressingDate);
							DressingRecord_OnHold.DressingDate = String(theDate.getDate()).padStart(2, '0' ) + "-" + String(theDate.getMonth() + 1).padStart(2, '0' ) + "-" + theDate.getFullYear(); %>
					<h6>Dressing Date : <span><%= DressingRecord_OnHold.DressingDate %> </span></h6>
					<h6>Pad Quantity : <span><%= DressingRecord_OnHold.QtyOfPads %> </span></h6>
					<h6>Total Amount : <span><%= DressingRecord_OnHold.TotalAmount %> </span></h6>
					<br>
					<form method="POST">
						<button type="submit" class="btn btn-primary" name="RemoveTempDressingHold" value="true" style="max-height: 40px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
							<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
						</svg> Remove</button>
					</form>
				</div>
				<div class="vr"></div>
			<% } %>
			<div id="ProductCartItems" style="padding-left: 20px;padding-top: 10px;padding-bottom: 10px;padding-right:20px;">
				<% if(CartItems.length == 0) { %> 
					<p style="font-size: 18px;">Cart is currently empty...</p>
				<% } else { %> 
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Product Name</th>
								<th scope="col">Quantity</th>
								<th scope="col">Item Price</th>
								<th scope="col">Total Amount</th>
							</tr>
						</thead>
						<% for(let i=0;i<CartItems.length;i+=1) { %>
							<tbody>
								<tr>
									<th scope="row"><%= i+1 %> </th>
									<td><%= CartItems[i].ProductName %></td>
									<td>
										<div class="btn-group" role="group" aria-label="Basic outlined example">
											<form method="POST">
												<button type="submit" class="btn" name="decrementQuantity" value="<%= CartItems[i].ProductID %>" style="max-height: 40px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
													<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
													<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
												</svg></button>
											</form>
											<span><p style="margin-left: 15px;margin-right: 15px;margin-top: 5px;font-size: 20px;"><%= CartItems[i].Quantity %></p></span>
											<form method="POST">
												<button type="submit" class="btn" name="incrementQuantity" value="<%= CartItems[i].ProductID %>" style="max-height: 40px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
													<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
													<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
												</svg></button>
											</form>
										</div>
									</td>
									<td><%= CartItems[i].ProductPrice %></td>
									<td><%= CartItems[i].ProductPrice * CartItems[i].Quantity %></td>
								</tr>
							</tbody>
						<% } %>
					</table>
				<% } %>
			</div>
			<div class="vr"></div>
			<div id="ConfirmPayment" style="padding-left: 40px;padding-top: 10px;padding-bottom: 10px;padding-right:10px;">
				<form method="POST">
					<p><strong>Total Amount : </strong>Rs. <%= TotalAmount %> </p>
					<% if(GuestMode === false) { %> 
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1">Amount Paid</span>
							<input type="number" class="form-control" id="AmountPaid" name="AmountPaid" style="max-width: 150px;" required>
						</div>
					<% } %> 
					<% if(DiscountOption != "None") { %> 
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1">Discount Amount (<%= DiscountOption %>)</span>
							<input type="number" class="form-control" id="DiscountAmount" name="DiscountAmount" style="max-width: 150px;" required>
						</div>
					<% } %> 
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Purchasing Date</span>
						<input type="date" class="form-control" id="PurchaseDate" name="PurchaseDate" style="max-width: 150px;" required>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="GenReceipt" disabled>
						<label class="form-check-label" for="GenReceipt">
							Generate Receipt
						</label>
					</div>
					<button type="submit" class="btn btn-primary" name="ConfirmCartItems" value="True" style="margin-top: 10px;">Confirm Payment</button>
				</form>
			</div>
		</div>
		<br>
		<hr>

		<div class="d-flex justify-content-between" style="margin-top: 70px;margin-bottom: 250px;">
			<% if(GuestMode === false) { %> 
				<div id="AddDressingPadRecord" style="width: 40%;">
					<form method="POST">
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1">Dressing Date</span>
							<input type="date" class="form-control" id="dressdate" name="dressingdate" style="max-width: 150px;" required <%= DisableField %> >
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1">Pad Quantity</span>
							<input type="number" class="form-control" id="padqty" name="padquantity" style="max-width: 130px;" <%= DisableField %> >
							<select class="form-select" id="padfrac" name="padfraction" style="max-width: 90px;" <%= DisableField %> >
								<option value="0" selected>0</option>
								<option value="1/4">1/4</option>
								<option value="1/2">1/2</option>
								<option value="3/4">3/4</option>
							</select>
						</div>
						<button type="submit" name="AddTempDressingRecord" value="True" class="mt-10 btn btn-primary btn-lg" <%= DisableField %> >
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
								<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
							</svg>Add Dressing Record (to hold)
						</button>
					</form>
				</div>
			<% } %> 
			<div id="AddProductsRecord" style="width: 60%;">
				<div style="margin-top: 25px;">
					<form method="POST">
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1">Product Name</span>
							<input type="text" class="form-control" id="searchProds" name="searchproducts" style="max-width: 600px;">
							<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
						</div>
					</form>
				</div>
				<div>
					<% if(SearchResult != undefined) {%> 
						<% if(SearchResult.length > 0) { %> 
							<% for(let i = 0;i < SearchResult.length;i += 1) { %> 
								<form method="POST">
									<div class="card" style="max-width: 500px;">
										<div class="card-body">
												<h5 class="card-title" style="font-size: 24px;"><%= SearchResult[i].ProductName %></h5>
												<div class="d-flex justify-content-between">
													<p class="card-text" style="font-size: 18px;"><strong>Price: </strong>Rs. <%= SearchResult[i].ProductPrice %> <span class="card-text" style="margin-left: 25px;"><strong>Quantity: </strong><%= SearchResult[i].Quantity %></span></p>
													<button class="btn btn-primary" type="submit" name="prodID" value="<%= SearchResult[i].ProductID %> ">Add to cart</button>
												</div>
										</div>
										<% if(SearchResult[i].Quantity <= 5) { %> 
											<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
												<span class="visually-hidden">Quantity is Low</span>
											</span>
										<% } %> 
									</div>
								</form>
							<% } %> 
						<% } else { %> 
							<div class="alert alert-danger" role="alert">
								No Results Found
							</div>
						<% } %> 
					<% } %> 
				</div>
			</div>
		</div>
  </div>
</body>
</html>