<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/bootstrap-icons.css">
	<script src="/static/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <style>
    .mt-10 {
      margin-top: 10px;
    }

    .pl-pr-5 {
      padding-left: 5px;
      padding-right: 5px;
    }
    body {
      padding-bottom: 200px;
    }
    input{
      overflow-y: visible;
    }
  </style>
  <title>
    <%= title %>
  </title>
</head>

<body>
    <div class="container">
        <%- include("./partials/header.ejs") %>
        <div>
          <% if(CartItems.length == 0) { %> 
            <p style="font-size: 18px;">Cart is currently empty...</p>
          <% } else { %> 
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Charges Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Total Amount</th>
                </tr>
              </thead>
              <% for(let i=0;i<CartItems.length;i+=1) { %>
                <tbody>
                  <tr>
                    <th scope="row"><%= i+1 %> </th>
                    <td><%= CartItems[i].ProductName %></td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <form method="POST">
                          <button type="submit" class="btn" name="decrementQuantity" value="<%= CartItems[i].ProductID %>" style="max-height: 40px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                          </svg></button>
                        </form>
                        <span><p style="margin-left: 15px;margin-right: 15px;margin-top: 5px;font-size: 20px;"><%= CartItems[i].Quantity %></p></span>
                        <form method="POST">
                          <button type="submit" class="btn" name="incrementQuantity" value="<%= CartItems[i].ProductID %>" style="max-height: 40px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg></button>
                        </form>
                      </div>
                    </td>
                    <td><%= CartItems[i].ProductPrice %></td>
                    <td><%= CartItems[i].ProductPrice * CartItems[i].Quantity %></td>
                  </tr>
                </tbody>
              <% } %>
            </table>
            <form method="POST">
              <p><strong>Total Amount : </strong>Rs. <%= TotalAmount %> </p>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Date</span>
                <input type="date" class="form-control" id="PurchaseDate" name="PurchaseDate" style="max-width: 150px;" required>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="GenReceipt" disabled>
                <label class="form-check-label" for="GenReceipt">
                  Generate Receipt
                </label>
              </div>
              <button type="submit" class="btn btn-primary" name="ConfirmCartItems" value="True" style="margin-top: 10px;">Confirm Products</button>
            </form>
            <hr>
          <% } %> 
        </div>
        <div style="margin-top: 25px;">
            <form method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Charges Name</span>
                    <input type="text" class="form-control" id="searchProds" name="searchproducts" style="max-width: 600px;" required>
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </form>
        </div>
        <div>
            <% if(SearchResult != undefined) {%> 
              <% if(SearchResult.length > 0) { %> 
                <% for(let i = 0;i < SearchResult.length;i += 1) { %> 
                    <form method="POST">
                        <div class="card" style="max-width: 500px;">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 24px;"><%= SearchResult[i].ProductName %></h5>
                                <div class="d-flex justify-content-between">
                                    <p class="card-text" style="font-size: 18px;"><strong>Price: </strong>Rs. <%= SearchResult[i].ProductPrice %> <span class="card-text" style="margin-left: 25px;"><strong>Quantity: </strong><%= SearchResult[i].Quantity %></span></p>
                                    <button class="btn btn-primary" type="submit" name="prodID" value="<%= SearchResult[i].ProductID %> ">Add to cart</button>
                                </div>
                            </div>
                            <% if(SearchResult[i].Quantity <= 5) { %> 
                              <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">Quantity is Low</span>
                              </span>
                            <% } %> 
                        </div>
                    </form>
                <% } %> 
              <% } else { %> 
                <div class="alert alert-danger" role="alert">
                  No Results Found
                </div>
              <% } %> 
            <% } %> 
        </div>
    </div>
</body>
</html>